// _variables.scss
$green: #4CAF50;
$pink: #FF4081;
$blue: #2196F3;

// _mixins.scss
@mixin transition($property, $duration, $timing-function) {
  transition: $property $duration $timing-function;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.header_position {
    position: fixed;
    top: 0;
    left: 0;
  }

  header-fixed {
    @include transition(all, 0.5s, ease);
    background-color: rgba(245, 245, 245, 0.5);
    
    a {
      @include transition(all, 0.5s, ease);
      color: var(--font-color) !important;
    }

    .menu,
    .menu:before,
    .menu:after {
      background-color: var(--black);
    }

    .menu.active {
      background-color: rgba(85, 85, 85, 0);
    }
  }
